<h1>This is the home page</h1>

<%- if user_signed_in? %>
  <%= link_to('Access protected page', protected_page_path) %>
  <br/>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <br/>
  <h3>Linkedin Information</h3>
  <%- if current_user.linkedin_uid %>
    <%= image_tag(current_user.picture_url) %>
    <p>
      Linkedin ID: <%= current_user.linkedin_uid %>
      <br/>
      First Name: <%= current_user.first_name %>
      <br/>
      Last Name: <%= current_user.last_name %>
      <br/>
      Headline: <%= current_user.headline %>
      <br/>
      Industry: <%= current_user.industry %>
      <br/>
      Linkedin: <%= link_to(current_user.public_profile_url, current_user.public_profile_url) %>
      <br/>
    </p>
  <%- else %>
    <%= link_to('Link my LinkedIn Account', user_omniauth_authorize_path('linkedin')) %>
  <%- end %>
<%- else %>
  <%= link_to("Sign in with LinkedIn", user_omniauth_authorize_path('linkedin')) %>
  <br/>
  <%= link_to('Register', new_user_registration_path) %>
  <br/>
  <%= link_to('Login', new_user_session_path) %>
  <br/>
  <%= link_to('Access protected page', protected_page_path) %>
<%- end %>